@import 'native.css';

html {
    /* font-family: 'Noto Sans KR'; */
    /* font-family: 'Nanum Gothic'; */
    /* font-family: 'NanumSquareNeo'; */
    font-family: 'NanumSquare';
    font-display: swap;
}
body {
    margin: 0;

    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    background-color: lightgray;
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-thumb {
    background: gray; /* 스크롤바의 색상 */
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: lightgray;  /*스크롤바 뒷 배경 색상*/
}

::selection {
    background-color: rgb(55, 185, 216);
    color: white;
}