@import 'native.css';

@font-face {
    font-family: 'NanumSquare';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquare/NanumSquareR.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NanumGothicCoding';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Coding.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Coding.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Coding.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Coding.ttf) format("truetype");
    font-display: swap;
}
html {
    /* font-family: 'Noto Sans KR'; */
    /* font-family: 'Nanum Gothic'; */
    /* font-family: 'NanumSquareNeo'; */
    font-family: 'NanumSquare';
}
body {
    margin: 0;

    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    background-color: lightgray;
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-thumb {
    background: gray; /* 스크롤바의 색상 */
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: lightgray;  /*스크롤바 뒷 배경 색상*/
}

::selection {
    background-color: rgb(55, 185, 216);
    color: white;
}