.site-body {
    display: flex;
}

.sidebar-wrapper {
    width: 325px;

    border-right: 2px solid rgb(240,240,240);
    background-color: white;

    font-size: 1rem;
}
.sidebar {
    position: sticky;
    top: 6rem;
    height: calc(100vh - 6rem);
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(240,240,240);
}
.sidebar-header h2 {
    margin-left: 1rem;
}
.sidebar-header img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
}
.sidebar-header button {
    border-radius: 5px;
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 0 0.5rem 0 0;

    width: 3rem;
    height: 3rem;
}
.sidebar-header button:hover {
    background-color: rgba(75,185,236, 0.2);
}
.sidebar-header button:active {
    background-color: rgba(75,185,236, 0.4);
}

.sidebar-top-nav {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: 2px solid rgb(240,240,240);

    display: none;
}
.sidebar-top-nav li {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.sidebar-top-nav li > a {
    padding: 1rem 0.5rem;
    display: block;
    text-decoration: none;
    color: black;

    border-radius: 5px;
}
.sidebar-top-nav li > a:hover {
    background: rgba(75,185,236, 0.2);
    box-shadow: 0 0 0 2px rgba(75,185,236, 0.5) inset;
}
.sidebar-top-nav li > a:active {
    background: rgba(75,185,236, 0.4);
    box-shadow: 0 0 0 2px rgba(75,185,236, 0.5) inset;
}

.sidebar-show-btn {
    border-radius: 5px;
    background-color: transparent;
    padding: 0;
    border: 0;
    margin: 0.8rem 0 0 0.5rem;
    float: left;

    position: sticky;
    top: 6.8rem;

    width: 3rem;
    height: 3rem;

    display: none;
}
.sidebar-show-btn img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.2rem;
}
.sidebar-show-btn:hover {
    background-color: rgba(75,185,236, 0.2);
}
.sidebar-show-btn:active {
    background-color: rgba(75,185,236, 0.4);
}

.sidebar-nav ul {
    padding: 0;
    list-style: none;
}
.sidebar-nav {
    padding: 0 0.5rem;
    margin: 0;
    margin-bottom: calc(6rem + 50px);

    list-style: none;
}
.sidebar-nav a {
    text-decoration: none;
    color: black;
}
.sidebar-nav li {
    margin-top: 0.5rem;
    padding-left: 1rem;
}
.sidebar-nav > li {
    padding-left: 0;
}

.sidebar-nav-item {
    padding-left: 0 !important;
}

.sidebar-nav summary {
    justify-content: space-between;
    font-weight: bold;

    cursor: pointer;
    font-size: 1.2rem;
    list-style: none;
}
.sidebar-nav summary::before {
    margin-right: 5px;
    content: url(/assets/right-arrow.png);
    position: relative;
    top: 2px;

    display: inline-block;
    transition: all 0.1s ease;
}
.sidebar-nav details[open] > summary::before {
    transform: translate(-3px, -2px) rotate(90deg);
}

.sidebar-nav summary, .sidebar-nav li > a {
    border-radius: 5px;
    padding: 1rem 0.5rem;
}
.sidebar-nav li > a {
    display: block;
    /* box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.4) inset; */
}

.sidebar-nav summary:hover, .sidebar-nav li > a:hover {
    background: rgba(75,185,236, 0.2);
    box-shadow: 0 0 0 2px rgba(75,185,236, 0.5) inset;
}
.sidebar-nav summary:active, .sidebar-nav li > a:active {
    background: rgba(75,185,236, 0.4);
    box-shadow: 0 0 0 2px rgba(75,185,236, 0.5) inset;
}
.sidebar-nav-selected {
    border-radius: 5px;
    background: rgba(168, 168, 168, 0.4);
    color: rgba(75,185,236, 1);
    font-weight: bold;
}
.sidebar-nav-selected a {
    color: rgb(59,129,237) !important;
}

.empty-item {
    color: gray;
    padding: 0.5rem 0;
    text-align: center;

    border: none;
}

@media (max-width: 60rem) {
    .sidebar-wrapper {
        display: none;
        position: fixed;
        z-index: 5;
        width: 100%;
    }
    .sidebar::-webkit-scrollbar {
        display: none;
    }

    .sidebar-header button {
        display: none;
    }

    .sidebar-show-btn {
        display: none !important;
    }

    .sidebar-top-nav {
        display: block;
    }
}