.page-content-wrapper {
    flex: 1;
    min-height: calc(100vh - 6rem);
}
.page-content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    padding: 1.5rem 2rem;

    max-width: 850px;
}
.page-content-header {
    display: inline-flex;
    flex-direction: column;

    border-bottom: 2px solid rgb(220,220,220);
}
.page-content-body {
    flex-basis: calc(100vh - 6rem);
}
.page-content-body-title {
    margin: 0;
    font-size: 40px;
}
.page-content-body-title span {
    color: rgb(59,129,237);
    font-size: 40px;
}

.post-page-content {
    max-width: 1000px;
}
.post-content-body {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
}
.post-content-nav {
    position: sticky;
    top: 6rem;

    flex-grow: 1;
    width: 300px;
    margin-left: 1rem;
}
.post-content-nav h2 {
    font-size: 1.2rem;
}
.post-content-nav ul {
    list-style: none;
    margin: 0;
    padding-left: 1rem;
}
.post-content-nav > ul {
    padding-left: 0rem;
    margin-top: 0.5rem;
}
.post-content-nav li {
    margin-top: 5px;
}
.post-content-nav a {
    display: block;
    text-decoration: none;
    color: gray;
    width: 100%;

    border-radius: 5px;

    padding: 2px 4px;
}
.post-content-nav a:hover {
    background-color: rgba(100, 100, 100, 0.1);
}
.post-content-nav a:active {
    background-color: rgba(100, 100, 100, 0.3);
}
.post-content-nav li.active > a {
    font-weight: bold;
    color: rgb(59,129,237);
    transition: 0.25s ease;
    background-color: rgba(100, 100, 100, 0.1);
}
.post-title {
    font-size: 3rem;
    margin: 0;
}
.post-content {
    width: 700px;
    border-right: 2px solid rgb(240,240,240);
    padding-right: 1rem;

    padding-bottom: 5rem;
}

.page-title {
    font-size: 3.5rem;
    margin: 0;
}

@media (max-width: 1400px) {
    .post-page-content {
        max-width: 700px;
    }
    .post-content-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
    }
    .post-content-nav {
        position: static;
        flex-grow: 0;
        margin-left: 0;
        width: 100%;
    }
    .post-content-nav h2 {
        font-size: 1.5rem;
    }
    .post-content {
        border: none;
        width: auto;

        padding-right: 0;
    }
}

.path-list {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 1rem;
}
.path-list li {
    display: inline;
}
.path-list a {
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 5px;
    color: gray;
}
.path-list a:hover {
    background-color: rgba(75,185,236,0.2);
}
.path-list a:active {
    background-color: rgba(75,185,236,0.4);
}
.path-list li::after {
    content: ">";
    margin: 0 5px;
}
.path-list li:last-child::after {
    content: " ";
}

.correlated-time {
    display: flex;
    align-items: center;
}
.correlated-time span {
    margin-left: 0.3rem;
    color: gray;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 1rem;
}
.tag-list li {
    border-radius: 5px;
    background-color: rgba(75,185,236,1);

    padding: 3px 6px;
    margin-right: 0.5rem;
}
.tag-list li:hover {
    opacity: 50%;
}
.tag-list a {
    text-decoration: none;
    color: white !important;
}

.sub-categories > summary:hover {
    cursor: pointer;
}
.sub-categories > ul {
    margin: 0;
    padding-left: 2rem;
}
.sub-categories > ul li {
    margin: 3px 3px;
    list-style: none;
}
.sub-categories > ul li::marker {
    content: '┕';
}
.sub-categories a {
    display: block;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 6px;
}
.sub-categories a:hover {
    color: rgb(59,129,237);
    background: rgba(75,185,236, 0.2);
}
.sub-categories a:active {
    background: rgba(75,185,236, 0.4);
}

.category-structure-list {
    padding: 0;
}
.category-structure-list, .category-structure-list ul {
    list-style: none;
}
.category-structure-list li {
    position: relative;
    background-color: white;
    margin: 0;
}
.category-structure-list li:before {
    background: black;
    width: 1px;
    content: '';
    position: absolute;
    top: 25px;
    bottom: 13px;
    left: 24px;
}
.category-structure-list li:first-child:before {
    top: 2rem;
}
.category-structure-list li:last-child:before {
    background-color: transparent;
}
.category-structure-list > li:before {
    background-color: black !important;
}
.category-structure-list li::marker {
    content: '━';
}
.category-structure-list > li::marker {
    content: '';
}
.category-structure-list a {
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 6px;
}
.category-structure-list a:hover {
    color: rgb(59,129,237);
    background: rgba(75,185,236, 0.2);
}
.category-structure-list a:active {
    background: rgba(75,185,236, 0.4);
}

.content-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-list > li > a {
    text-decoration: none;
    color: black;
}
.content-list > li > a:hover {
    color: rgb(59,129,237);
}
.content-list > li {
    border-bottom: 2px solid rgb(220,220,220);

    padding: 1rem 0;
}
.content-list > li:last-child {
    border-bottom: 0;
}
.content-list li h3 {
    font-size: 1.5rem;
}
.content-list-item-date {
    color: gray;
}

.content-list-navbar {
    text-align: center;
}
.content-list-navbar ol {
    display: inline-flex;
    list-style: none;
    padding: 0;
}
.content-list-navbar button {
    font-size: 18px;
    width: 40px;
    height: 40px;

    margin: 0 0.2rem;

    border-radius: 50%;
    border: 0;
    background: transparent;

    font-weight: bold;
    cursor: pointer;
}
.content-list-navbar button:hover {
    background: black;
    color: white;
}
.content-list-navbar button:disabled {
    color: lightgray;
    cursor: auto;
}
.content-list-navbar button:disabled:hover {
    background: transparent;
}
.content-list-navbar button:disabled:active {
    border: 0;
}
.content-list-navbar-current button {
    background: rgba(100, 100, 100, 0.2);
}

.searchbar {
    margin-top: 2rem;
    height: 2rem;
}
.searchbar div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar img {
    height: 20px;
    margin: auto;
}
.searchbar input[type='search'] {
    margin-left: 1rem;
    padding: 0.5rem;
    width: 70%;
    height: 45px;

    font-size: 20px;

    border-radius: 10px 0 0 10px;
    border: 1px solid rgb(220,220,220);
    border-right: none;
}
.searchbar button {
    /* margin-left: 1rem; */
    height: 45px;
    width: 45px;
    border-radius: 0 10px 10px 0;
    border: 1px solid rgb(220,220,220);
    background: rgba(0, 0, 0, 0.15);

    cursor: pointer;

    font-size: 1rem;
}
.searchbar button:hover {
    background: rgba(0, 0, 0, 0.3);
}
.searchbar button:active {
    background: rgba(0, 0, 0, 0.4);
}
.search-result h2 {
    margin: 0;
    font-size: 40px;
}
.search-result span {
    color: rgb(59,129,237);
}