<div class="sidebar-wrapper">
    <nav class="sidebar">
        <header class="sidebar-header">
            <h2>Category</h2>
            <button>
                <img src="/assets/left-arrow.svg" alt="">
            </button>
        </header>
        <div class="sidebar-top-nav">
            <a href="/">
                <img src="/assets/home.svg" alt="홈 사진">
                <h3>Home</h3>
            </a>
        </div>
        <ul class="sidebar-nav">
            {% assign categories = site.data.category_structure | where: 'name', 'home' | first %}
            {% for cat_name in categories["subcategory"] %}
                {% assign aCategory = site.data.category_structure | where: 'name', cat_name | first %}
                {% if page.categories[0] == aCategory["name"] %}
                    {% assign open = true %}
                {% else %}
                    {% assign open = false %}
                {% endif %}
                {% include sidebar-category-item.html category_object=aCategory isOpen=open depth=0 %}
            {% endfor %}
        </ul>
    </nav>
</div>