<header class="site-header">
    <div class="header-wrapper">
        <div class="header-logo-container">
            <a href="/">
                <img src="/assets/archive.png" alt="로고 이미지">
                <h1>Positive Arch.</h1>
            </a>
        </div>
        <nav class="header-content-info">
            {% if layout.site_layout == 'post' %}
                <ol class="path-list">
                    {% assign path = "/" %}
                    {% assign categoryPath = page.categories | join: '|' | prepend: 'Home|' | split: '|' %}
                    {% for aCat in  categoryPath %}
                        <li>
                            {% if forloop.first == false %}
                                {% assign path = path | append: aCat | append: '/' %}
                            {% endif %}
                            <a href="{{ path }}">
                                {{ aCat }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <ol class="path-list">
                    {% assign path = "/" %}
                    {% assign categoryPath = page.url | url_decode | prepend: 'Home' | split: '/'%}
                    {% for aCat in  categoryPath %}
                        <li>
                            {% if forloop.first == false %}
                                {% assign path = path | append: aCat | append: '/' %}
                            {% endif %}
                            <a href="{{ path }}">
                                {{ aCat }}
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
            <h1>{{ page.title }}</h1>
        </nav>
        <nav class="header-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/category/">Category</a></li>
                <li><a href="/tag/">Tag</a></li>
                <li><a href="/search/">Search</a></li>
            </ul>
            <button class="header-hamburger">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" version="1.1">
                    <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 11.328125 34.5 C 11.324219 34.5 11.324219 34.5 11.324219 34.5 C 10.488281 34.5 9.8125 33.378906 9.8125 32 C 9.8125 30.621094 10.488281 29.5 11.324219 29.5 L 52.675781 29.5 C 53.511719 29.5 54.1875 30.621094 54.1875 32 C 54.1875 33.378906 53.511719 34.5 52.675781 34.5 Z M 11.328125 34.5 "/>
                    <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 11.328125 15.625 C 11.324219 15.625 11.324219 15.625 11.324219 15.625 C 10.488281 15.625 9.8125 14.503906 9.8125 13.125 C 9.8125 11.746094 10.488281 10.625 11.324219 10.625 L 52.675781 10.625 C 53.511719 10.625 54.1875 11.746094 54.1875 13.125 C 54.1875 14.503906 53.511719 15.625 52.675781 15.625 Z M 11.328125 15.625 "/>
                    <path style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 11.328125 53.375 C 11.324219 53.375 11.324219 53.375 11.324219 53.375 C 10.488281 53.375 9.8125 52.253906 9.8125 50.875 C 9.8125 49.496094 10.488281 48.375 11.324219 48.375 L 52.675781 48.375 C 53.511719 48.375 54.1875 49.496094 54.1875 50.875 C 54.1875 52.253906 53.511719 53.375 52.675781 53.375 Z M 11.328125 53.375 "/>
                </svg>
            </button>
        </nav>
    </div>
</header>