<footer class="site-footer">
    <div>
        <div class="footer-logo-container">
            <img src="/assets/archive.png" alt="로고 이미지">
            <h1>Positive Arch.</h1>
        </div>
    </div>
    <div>
        <a href="https://www.github.com">Hosted by Github</a>
    </div>
    <div>
        <a href="https://www.flaticon.com/free-icons/document" title="document icons">Document icons created by Freepik - Flaticon</a>
    </div>
    <div>
        <a href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Royyan Wijaya - Flaticon</a>
    </div>
</footer>