<div class="sidebar-wrapper">
    <nav class="sidebar">
        <header class="sidebar-header">
            <h2>Category</h2>
            <button>
                <img src="/assets/left-arrow.svg" alt="">
            </button>
        </header>
        <ul class="sidebar-top-nav">
            <li class="{% if layout.site_layout == 'home' %}sidebar-nav-selected{% endif %}"><a href="/">Home</a></li>
            <li class="{% if layout.site_layout == 'about' %}sidebar-nav-selected{% endif %}"><a href="/about">About</a></li>
            <li class="{% if layout.site_layout == 'categorymain' %}sidebar-nav-selected{% endif %}"><a href="/category">Category</a></li>
            <li class="{% if layout.site_layout == 'tagmain' %}sidebar-nav-selected{% endif %}"><a href="/tag">Tags</a></li>
            <li class="{% if layout.site_layout == 'search' %}sidebar-nav-selected{% endif %}"><a href="/search">Search</a></li>
        </ul>
        <ul class="sidebar-nav">
            {% assign categories = site.data.category_structure | where: 'name', 'Home' | first %}
            {% for cat_name in categories["subcategory"] %}
                {% assign aCategory = site.data.category_structure | where: 'name', cat_name | first %}
                {% if page.categories[0] == aCategory["name"] %}
                    {% assign open = true %}
                {% else %}
                    {% assign open = false %}
                {% endif %}
                {% include sidebar-category-item.html category_object=aCategory isOpen=open depth=0 %}
            {% endfor %}
        </ul>
    </nav>
</div>