---
layout: default
site_layout: about
---
<article class="page-content">
    <header class="page-content-header pb-1">
        <ol class="path-list">
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/about/">
                    about
                </a>
            </li>
        </ol>
        <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <div class="page-content-body">
        <div class="markdown-content">
            {{ content }}
        </div>
    </div>
</article>