---
layout: default
---

<article class="page-content">
    <header class="page-content-header pb-2">
        <ol class="path-list">
            {% assign path = "/" %}
            {% assign categoryPath = page.url | url_decode | prepend: '/Home ' | split: '/' %}
            {% for aCat in  categoryPath offset:1 %}
                <li>
                    {% if forloop.first == false %}
                        {% assign path = path | append: aCat | append: '/' %}
                    {% endif %}
                    <a href="{{ path }}">
                        {{ aCat }}
                    </a>
                </li>
            {% endfor %}
        </ol>
        <h1 class="page-title">{{ page.title }}</h1>
        <details class="sub-categories">
            <summary><span>하위 카테고리</span></summary>
            <ul>
                {% assign category_name = page.category_name %}
                {% unless page.subcategories == empty %}
                    {% assign subcategories = page.subcategories | split: " " %}
                {% else %}
                    <span>비어있음</span>
                {% endunless %}
                {% for aCat in subcategories %}
                    <li>
                        <a href="{{ page.url | append: aCat  }}">
                            {{ aCat }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </details>
        {% assign introduction = site.data.category_introduction | where: 'name', category_name %}
        {% if introduction[0] %}
            <p>
                {{ introduction[0].introduction }}
            </p>
        {% endif %}
    </header>
    <div class="page-content-body">
        <h2 class="page-content-body-title pt-4 pb-2">관련 포스트 <span>({{ site.categories[page.category_name] | size }})</span></h2>
        {% assign category_posts = site.categories[page.category_name] %}
        {% include doc-list.html docs=category_posts %}
        <div class="content-list-navbar">
        </div>
    </div>
</article>