<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>
        Postive Archive
        {%- if page.title -%}
            {{- page.title | prepend: ' - ' -}}
        {%- endif %}
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/site-header-style.css">
    <link rel="stylesheet" href="/css/site-sidebar-style.css">
    <link rel="stylesheet" href="/css/site-footer-style.css">
    <link rel="stylesheet" href="/css/site-body-style.css">
    <link rel="stylesheet" href="/css/spacing.css">
    <link rel="stylesheet" href="/css/markdown-style.css">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Source+Code+Pro&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css" rel="stylesheet"> -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/archive.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% include site-header.html path=page.categories %}
    <div class="site-body">
        {% include site-sidebar.html %}
        <main class="page-content-wrapper">
            <button class="sidebar-show-btn">
                <img src="/assets/hamburger.svg" alt="">
            </button>
            {{ content }}
        </main>
    </div>
    {% include site-footer.html %}
</body>
<script src="/script/script.js"></script>
{% include mathjax.html %}
</html>