---
layout: default
site_layout: home
---
<article class="page-content">
    <header class="page-content-header pb-1">
        <ol class="path-list mb-1">
            {% assign path = "/" %}
            {% assign categoryPath = page.categories | join: '|' | prepend: 'Home|' | split: '|' %}
            {% for aCat in  categoryPath %}
                <li>
                    {% if forloop.first == false %}
                        {% assign path = path | append: aCat | append: '/' %}
                    {% endif %}
                    <a href="{{ path }}">
                        {{ aCat }}
                    </a>
                </li>
            {% endfor %}
        </ol>
        <h1 class="page-title">{{ page.title }}</h1>
        <details class="sub-categories">
            <summary><span>하위 카테고리</span></summary>
            <ul>
                {% assign subcategories = site.data.category_structure | where: 'name', 'Home' %}
                {% assign subcategories = subcategories[0].subcategory %}
                {% if subcategories == empty %}
                    <span>비어있음</span>        
                {% endif %}
                {% for aCat in subcategories %}
                    <li>
                        <a href="{{ page.url | append: aCat  }}">
                            {{ aCat }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </details>
        {% assign introduction = site.data.category_introduction | where: 'name', 'home' %}
        {% if introduction[0] %}
            <p class="mb-1">
                {{ introduction[0].introduction }}
            </p>
        {% endif %}
    </header>
    <div class="page-content-body">
        <h2 class="page-content-body-title pt-4 pb-2">전체 포스트 <span>({{ site.posts | size }})</span></h2>
        {% include doc-list.html docs=site.posts %}
        <div class="content-list-navbar">
        </div>
    </div>
</article>