---
layout: default
---

<article class="page-content post-page-content">
    <header class="page-content-header pb-1">
        <ol class="path-list">
            {% assign path = "/" %}
                {% assign categoryPath = page.categories | join: ' ' | prepend: 'home ' | split: ' ' %}
            {% for aCat in  categoryPath %}
                <li>
                    {% if forloop.first == false %}
                        {% assign path = path | append: aCat | append: '/' %}
                    {% endif %}
                    <a href="{{ path }}">
                        {{ aCat | capitalize }}
                    </a>
                </li>
            {% endfor %}
        </ol>
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="correlated-time">
            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24"><path fill="#666" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 12v-6h-2v8h7v-2h-5z"></path></svg>
            <span>2023.06.21</span>
        </div>
        <ul class="tag-list">
            <li><a href="">태그1</a></li>
            <li><a href="">태그2</a></li>
            <li><a href="">태그3</a></li>
        </ul>
    </header>
    <div class="page-content-body post-content-body">
         <div class="post-content">
            {{ content }}
         </div>
         <aside class="post-content-nav">
            <h2>TABLE OF CONTENTS</h2>
            <ul>
                 <li>
                     <a href="">제목1</a>
                     <ul>
                         <li>
                             <a href="">서브1-1</a>
                         </li>
                         <li>
                             <a href="">서브1-2</a>
                         </li>
                     </ul>
                 </li>
                 <li>
                     <a href="">제목2</a>
                     <ul>
                         <li>
                             <a href="">서브2-1</a>
                         </li>
                         <li>
                             <a href="">서브2-2</a>
                         </li>
                     </ul>
                 </li>
            </ul>
         </aside>
    </div>
</article>