---
layout: default
site_layout: tag
---
<article class="page-content">
    <header class="page-content-header pb-1">
        <ol class="path-list">
            {% assign path = "/" %}
            {% assign path_string = page.url %}
            {% if page.url | slice: -5, 5 == '.html' %}
                {% assign length = page.url | size | minus: 5 %}
                {% assign path_string = page.url | slice: 0, length %}
            {% endif %}
            {% assign categoryPath = path_string | url_decode | prepend: '/Home ' | split: '/' %}
            {% for aCat in  categoryPath offset:1 %}
                <li>
                    {% if forloop.first == false %}
                        {% assign path = path | append: aCat | append: '/' %}
                    {% endif %}
                    <a href="{{ path }}">
                        {{ aCat }}
                    </a>
                </li>
            {% endfor %}
        </ol>
        <h1 class="page-title">{{ page.title }}</h1>
    </header>
    <div class="page-content-body">
        <h2 class="page-content-body-title pt-2 pb-1">관련 포스트 ({{ site.tags[page.tag_name] | size }})</h2>
        <ol class="content-list">
            {% for aPage in site.tags[page.tag_name] %}
                <li>
                    <a href="{{ aPage.url }}">
                        <div>
                            <h3>{{ aPage.title }}</h3>
                            <span class="content-list-item-date">{{ aPage.date | date: "%Y-%m-%d" }}</span>
                        </div>
                        <p>
                            {{ aPage.excerpt | strip_html | truncatewords: 30 }}
                        </p>
                        <ul class="tag-list">
                            {% for aTag in aPage.tags %}
                                <li><a href="/tag/{{ aTag }}/">{{ aTag }}</a></li>
                            {% endfor %}
                        </ul>
                    </a>
                </li>
            {% endfor %}
            {% assign count = site.tags[page.tag_name] | size %}
            {% if count == 0 %}
                <li>
                    해당하는 검색결과가 존재하지 않습니다.
                </li>
            {% endif %}
        </ol>
        <div class="content-list-navbar">
        </div>
    </div>
</article>